:root{
    --font-color: #000;
    --heading-green: #1e6802;
}

body {
    width: 100%;
    margin: 0;
}

h1{
    font-family: 'Poppins', sans-serif;
}

h2, h3, p, a{
    font-family: 'Roboto', sans-serif;
    color: var(--font-color);
}

p{
    font-size: 18px;
}

header{
    position: fixed;
    top: 0;
    width: 100%; 
    z-index: 1000;    
}

  /*  #navbar {
        background-color: rgb(219, 228, 229, 1);

        a{
            display: none;
        }
        
        .icon{
            color: #000;
            float: right;
            display: block;
        }
        
        .responsive{ 
            position: relative; 
    
            a{
                float: none;
                display: block;
                text-align: center;
    
                .icon{
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }
    }*/
    
    #navbar a{
        display: none;
        font-size: 1.5em;
        text-decoration: none;
        padding: 9px 12px; 
        
    }
    #navbar a.icon{
        color: var(--font-color);
        float: right;
        display: block;
    }

    #navbar.responsive{ position: relative; }
    #navbar.responsive a.icon{
        position: absolute;
        right: 0;
        top: 0;
    }

    #navbar.responsive a{
        float: none;
        display: block;
        text-align: center;
    }

    #navbar {
        background-color: rgb(20, 160, 202, 1);
        font-size: 1.3em;
    }

#welcome-section {
    height: 100vh;
    background-color: #dbe4e5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2314a0ca' fill-opacity='0.36'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

    #title-container{
        background: rgb(196, 196, 196, 0.3);
        padding: 20px;
        border-radius: 10px;
    }
  
        #title {
            line-height:20%;
            color: var(--font-color);
        }

        #intro {
            line-height:20%;
            color: var(--heading-green);
        }


#about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    #img-div{
        width: 80%;
        text-align: center;
        margin: auto;

        padding-top: 10%;
        flex: 1;
    }

    #me-img{
        border-radius: 25px;
        max-width: 80%;
        height: auto;
    }
    
    #description{
        width: 80%;
        text-align: center;
        margin: auto;

    }

#projects{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;

    a{
        text-decoration: none;
        width: 80%;
        margin: auto;
        padding: 5px;
    }
}

    #project-title{
        padding: 30px;
        font-size: 1.5em; //////////////////////////////////////
        width: 80%;
        text-align: center;
        margin: auto;
    }

    .project-imgs{
        height:auto;
        width: 100%;
    }

    h3{
        color: var(--heading-green);
    }

#connect{
    background-color: #f48f42; 
}

    #connect-title{
        text-align: center;
        padding-top: 10px;
    }

    #flex-connect{
        width: 80%;
        margin: auto;
        padding-bottom: 50px;

        a{
            text-decoration: none;
        }
    }
    
    .social-logo{
        padding: 15px 0px;
        height: 43px;
        float: left;
        margin: 0px 10px;
    }

    .connect-link{
        background: #fff;
        border-radius: 10px;
        box-shadow: 1px 1px 3px #3f3f3f;
        padding: 10px 0px;
        margin: 25px 0px;
        height: 43px;
        p{
            margin: 0px;
        }

        .detail{
            font-style: italic;
        }
    }

    .connect-link{
        background: #fff;
        transition: background-color 0.3 ease;

        -webkit-transition: background-color 300ms ease;
        -moz-transition: background-color 300ms ease;
        -o-transition: background-color 300ms ease;
    }

    .connect-link:hover{
        background: #d6d6d6;
    }

    .logo{
        height: auto;
        width: 32px;
    }

    @media screen and (min-width: 800px){
        #navbar{
            background-color: rgb(20, 160, 202, 0.5);
            overflow: hidden;

            a{
                float: right;
                display: inline;
            }

        }
        
        .nav-container #navbar .icon{
            display: none;
        }

        #title{
            font-size: 4em;
        }

        #intro{
            font-size: 1.5em;
        }
    

        #about-container{
            flex-direction: row;
            width: 80%;
            margin: 50px auto 0px auto;
            padding: 15px;
            background: rgb(100, 219, 59, 80);
            border-radius: 25px;
            border: 15px solid #c6c6c6;
        }

        #description{
            width: 60%;
        }

        #img-div{
            width: 40%;
            padding-top: 0%;
        } 

        #projects{
            display: flex;
            justify-content: space-between;
            margin-top: 50px;

            a{
                flex: 1;
            }
        }

        .flexRow{
            display: flex;
            flex-direction: row;
            width: 100%;
            margin: 15px 0px;
        }

        .flexCol{
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
            flex: 1;
        }

        #flex-connect{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .profile-link{
            width: 200px;
        }


    }