body {
    width: 100%;
    margin: 0;
}
  
h1 {
    font-family: 'Poppins', sans-serif;
}
 
h2, 
h3,
p,
a {
    font-family: 'Roboto', sans-serif;  
}

header{
    position: fixed;
    top: 0;
    width: 100%; 
    z-index: 1000;    
}

#navbar{
    background-color: rgb(106, 181, 101, 0.5);
    overflow: hidden;
}

#navbar .icon{
    display: none;
}

#navbar a{
    font-size: 1.5em;
    text-decoration: none;
    color: #000;
    padding: 9px 12px; 
    float: right;
}
  
#welcome-section {
    height: 100vh;
    background-image: url('assets/ashkan-image.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#head{
    background: rgb(196, 196, 196, 0.3);
    padding: 20px;
    border-radius: 10px;
}

#intro {
    line-height:20%;
    color: #1e6802;
    text-align: left;
    margin-left: 10px;
}
  
#title {
    line-height:20%;
    color: #000;
}

#about{
    height: auto;
    background: rgb(122, 211, 116);
}

#flex-about{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#img-div{
    text-align: center;
    flex: 1;
    margin-left: 10%;
}

#about-p{
    margin-right: 10%;
    flex: 1;
}

#me-img{
    border-radius: 50%;
    max-width: 70%;
    height: auto;
}

#about-h3{
    font-size: 2.5em;
}

#about-me{
    font-size: 1.7vw;
}
  
#projects {
    text-align: center;
}

#project-title{
    padding: 50px;
    font-size: 1.5em;
}

.flexin{
    margin: auto;   
    width: 90%;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 60px;
}

#projects a {
    text-decoration: none;
    font-weight: bold;
}

#projects h4 {
    font-size: 1.2em;
}

#projects p, li{
    font-size: 0.9em;
    color: #000;
}

#caption {
    color: #41c74a;
}
  
.project-tile {
    border: 2px solid #d3dfd4;
    width: 210px;
    padding: 5px;
    margin: 20px 20px;
}

.project-imgs{
    height: auto;
    max-width: 200px;
}

#connect {
    width: 100%;
    background-color: #f48f42;
    text-align: center;
    height: 50vh;
}
  
#con-title {
    padding-top: 45px;
}
  
.flex-connect {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    width: 60%;
    margin: auto;
    align-items: center;
    justify-content: space-around;
}
  
.connect-link {
    background-color: #fff;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    
}
 
#profile-link {
    text-decoration: none;
    color: #000;
    
}
  
@media screen and (max-width: 800px){
    .flex-connect {
      flex-flow: column;
      padding-bottom: 50px;
      width: 100%;
      height: 100vh;
    }

    .connect-link{
      margin-top: 20px;
    }

    #img-div{ padding-top: 30px;}

    #img-div, #about-p{
        width: 80%;
        text-align: center;
        margin: auto;

    }

    #about-me{
        font-size: 18px;
    }

    #flex-about{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    
    .flexin {
      flex-direction: column;
      align-items: center;
    }

    #navbar a{
        display: none;
    }
    #navbar a.icon{
        color: #000;
        float: right;
        display: block;
    }

    #navbar.responsive{ position: relative; }
    #navbar.responsive a.icon{
        position: absolute;
        right: 0;
        top: 0;
    }

    #navbar.responsive a{
        float: none;
        display: block;
        text-align: center;
    }

}